################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrDemoGame/v16/Server/sqlite3/db.lock
/.vs/CreasaurDemoProject/v16/Server/sqlite3/db.lock
/Temp/UnityLockfile
